<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
<%= render "layouts/languages" %>
<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4"><%= t("helpers.label.user.title") %></h2>
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form action="./" method="get" autocomplete="off" novalidate="">
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "your@email.com" %>
          </div>

          <div class="mb-2">
            <%= f.label :email, class: "form-label" do %>
              <%= t("helpers.label.user.password") %>
              <span class="form-label-description">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to t("helpers.label.user.forgot_password"), new_password_path(resource_name) %><br />
                <% end %>
              </span>
            <% end %>

            <div class="input-group input-group-flat">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Your password" %>
            </div>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="mb-2">
              <%= f.label :remember_me, class: "form-check" do %>
              <%= f.check_box :remember_me, class: "form-check-input" %>
                <span class="form-check-label">
                  <%= t("helpers.label.user.remember_me") %>
                </span>
              <% end %>
            </div>
          <% end %> 
          <div class="form-footer">
            <%= f.submit t("helpers.label.user.login"), class: "btn btn-primary w-100" %>
          </div>
        </form>
        <% end %>
      </div>
    </div>
    <div class="text-center text-secondary mt-3">
      <%= t("helpers.label.user.dont_have_account") %> <a href="./sign-up.html" tabindex="-1"><%= t("helpers.label.user.sign_up") %></a>
    </div>
  </div>
</div>
