<div class="nested-form-wrapper row mt-2" data-new-record="<%= f.object.new_record? %>">
  <div class="col-md-2">
    <%= f.label :phone, class: "form-label" %>
    <%= f.text_field :phone,
        class: "form-control form-control-sm",
        placeholder: "(00) 00000-0000",
        data: {
          controller: "imask",
          imask_type_value: "phone"
        } %>
  </div>

  <div class="col-md-3">
    <%= f.label :kind, class: "form-label" %>
    <div class="align-content-end form-group">
      <% Contact.kinds.keys.each do |kind| %>
        <div class="form-check form-check-inline">
          <%= f.radio_button :kind, kind, class: "form-check-input" %>
          <%= f.label :kind, t("contact.kinds.#{kind}"), class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="align-content-end col-md-2">
    <button class="btn" type="button" data-action="nested-form#remove">
      <i class="bi bi-trash"></i>
      remover
    </button>
  </div>

  <%= f.hidden_field :_destroy %>
</div>
