<%= form_with(model: proponent, class: "row g-3", local: true, data: { controller: "nested-form zip", nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if proponent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proponent.errors.count, "error") %> prohibited this proponent from being saved:</h2>

      <ul>
        <% proponent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-10">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control form-control-sm" %>
  </div>

  <div class="col-md-2">
    <%= form.label :cpf, class: "form-label" %>
    <%= form.text_field :cpf, class: "form-control form-control-sm" %>
  </div>

  <p>Endereço:</p>
  <%= form.fields_for :address do |address_fields| %>
      <div class="col-md-2">
        <%= address_fields.label :zip, class: "form-label" %>
        <%= address_fields.text_field :zip,
            value: proponent.address['zip'],
            class: "form-control form-control-sm",
            data: { zip_target: "zip", action: "keyup->zip#search" } %>
      </div>

      <div class="col-md-5">
        <%= form.label :street, class: "form-label" %>
        <%= address_fields.text_field :street,
            value: proponent.address['street'],
            class: "form-control form-control-sm",
            data: { zip_target: "street" } %>
      </div>

      <div class="col-md-1">
        <%= form.label :number, class: "form-label" %>
        <%= address_fields.text_field :number,
            value: proponent.address['number'],
            class: "form-control form-control-sm" %>
      </div>

      <div class="col-md-3">
        <%= form.label :city, class: "form-label" %>
        <%= address_fields.text_field :city,
            value: proponent.address['city'],
            class: "form-control form-control-sm",
            data: { zip_target: "city" } %>
      </div>

      <div class="col-md-1">
        <%= form.label :state, class: "form-label" %>
        <%= address_fields.text_field :state,
            value: proponent.address['state'],
            class: "form-control form-control-sm",
            data: { zip_target: "state" } %>
      </div>
  <% end %>

  <div class="col-md-2">
    <%= form.label :salary, class: "form-label" %>
    <%= form.text_field :salary,
        value: proponent.formatted_salary,
        class: "form-control form-control-sm" %>
  </div>

  <div class="col-md-2">
    <%= form.label :inss_discount, class: "form-label" %>
    <%= form.number_field :inss_discount, class: "form-control form-control-sm", disabled: "disabled" %>
  </div>

  <div>
    <p>Contatos:
      <button type="button" data-action="nested-form#add" class="btn">
        <i class="bi bi-plus"></i>
        Novo contato
      </button>
    </p>
    <template data-nested-form-target="template">
      <%= form.fields_for :contacts, Contact.new, child_index: 'NEW_RECORD' do |todo_fields| %>
        <%= render "contacts", f: todo_fields %>
      <% end %>
    </template>

    <%= form.fields_for :contacts do |todo_fields| %>
      <%= render "contacts", f: todo_fields %>
    <% end %>

    <div data-nested-form-target="target"></div>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
