<div id="<%= dom_id proponent %>">
  <p>
    <strong>Name:</strong>
    <%= proponent.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= proponent.cpf %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= proponent.address %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= proponent.salary %>
  </p>

  <p>
    <strong>Inss discount:</strong>
    <%= proponent.inss_discount %>
  </p>

</div>
