<div id="<%= dom_id proponent %>">
  <p>
    <strong>Name:</strong>
    <%= proponent.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= proponent.cpf %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= address_formatted(proponent) %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= proponent.formatted_salary %>
  </p>

  <p>
    <strong>Contatos:</strong>
    <% proponent.contacts.each do |contact| %>
      <p>
        <%= contact.kind %>: <%= contact.phone %>
      </p>
    <% end %>
  </p>

  <p>
    <strong>Inss discount:</strong>
    <%= proponent.inss_discount %>
  </p>

</div>
