<h2><%= t("views.proponent.title") %></h2>

<div class="card">
  <div class="card-header">
    <%= t("views.proponent.sub_title") %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6"
          data-controller="pie-chart"
          data-pie-chart-labels='<%= @salary_distribution.keys.to_json.html_safe %>'
          data-pie-chart-data="<%= @salary_distribution.values.to_json.html_safe %>">
        <canvas data-pie-chart-target="canvas" id="myPieChart" width="400" height="400"></canvas>
      </div>
      <div class="col-md-6">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><%= t("views.proponent.report.salary_range") %></th>
              <th><%= t("views.proponent.report.quantity") %></th>
            </tr>
          </thead>
          <tbody>
            <% @salary_distribution.each do |range, quantity| %>
              <tr>
                <td><%= range %></td>
                <td><%= quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header d-flex justify-content-between">
    <div>
      <%= t("views.proponent.title") %>
    </div>
    <div>
      <%= link_to new_proponent_path, class: "btn btn-primary btn-sm", title: t("proponent.views.button.new") do %>
        <i class="bi bi-person-plus"></i>
      <% end %>
    </div>
  </div>
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= t("views.proponent.name") %></th>
          <th><%= t("views.proponent.cpf") %></th>
          <th><%= t("views.proponent.address") %></th>
          <th><%= t("views.proponent.salary") %></th>
          <th><%= t("views.proponent.inss_discount") %></th>
          <th colspan="3"><%= t("views.proponent.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @proponents.each do |proponent| %>
          <tr>
            <td><%= proponent.name %></td>
            <td><%= proponent.cpf %></td>
            <td><%= address_formatted(proponent) %></td>
            <td><%= salary_formatted(proponent) %></td>
            <td><%= inss_discount_formatted(proponent) %></td>
            <td>
              <%= link_to proponent do %>
                <i class="bi bi-eye"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_proponent_path(proponent) do %>
                <i class="bi bi-pencil"></i>
              <% end %>
            </td>
            <td>
              <%= link_to proponent, method: :delete, data: { turbo_method: :delete, turbo_confirm: t("helpers.confirm.delete") } do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= paginate @proponents %>
  </div>
</div>
